<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a
      class="navbar-brand fw-bold"
      routerLink="/"
      routerLinkActive="text-success"
      [routerLinkActiveOptions]="{ exact: true }"
      >FashBash</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="text-success fw-bold"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="text-success fw-bold"
            >Login</a
          >
        </li>
        <li class="nav-item cart-btn">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="text-success fw-bold"
          >
            <i class="bi bi-cart-fill"></i>
            <span class="counter">{{cartCounter}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
