<div class="container mt-5">
  <h5 class="mb-5">welcome to our shopping website start shopping...</h5>
  <div class="row">
    @for(product of products; track $index){
    <div class="col-3 p-2">
      <div class="card border-0 shadow position-relative">
        <div class="img-wrapper position-relative">
          <img
            [src]="product.image"
            class="card-img-top"
            alt="product img"
            (click)="onProductClick(product.id)"
          />
          @if(product.stock > 0){
          <span class="position-absolute badge rounded-pill bg-success">
            in stock
          </span>
          }@else {
          <span class="position-absolute badge rounded-pill bg-danger">
            out of stock
          </span>
          }
        </div>
        <div class="card-body">
          <div class="h5 card-title d-flex justify-content-between">
            <span class="">{{
              product.name
            }}</span>
            <span>${{ product.price }}</span>
          </div>
          <p class="card-text">{{ product.description }}</p>
          <div class="rating">
            @for (rate of getStarArray(product.rating); track $index) {
              <i class="bi bi-star-fill text-success"></i>
            }
            @for (rate of getStarArray(5 - product.rating); track $index) {
              <i class="bi bi-star-fill text-secondary"></i>
            }
          </div>
          <button
            class="btn btn-outline-success rounded-5 px-4 mt-3"
            (click)="onAddToCart(product)"
          >
            add to cart
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
