.card {
  overflow-x: hidden;
}

.card:hover .card-title {
  color: green;
}

img {
  height: 350px;
  object-fit: cover;
  transition: 0.2s all;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 18px;
  transition: 0.2s all;
}

.card-text {
  font-size: 14px;
  color: #444;
}

.card .btn {
  border-color: #444;
  color: #444;
  transition: 0.2s all;
}

.card .btn:hover {
  border-color: green;
  color: #fff;
}

.badge {
  left: 10px;
  top: 10px;
  padding: 10px 1rem;
}
