<div class="container">
  <h5>welcome to our shopping website start shopping...</h5>
  <div class="row">
    @for(product of products; track $index){
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img [src]="product.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text"> {{product.description}} </p>
          <a href="#" class="btn btn-outline-success rounded-5">add to cart</a>
        </div>
      </div>
    </div>
  }
  </div>
</div>
