<section class="form-section container-fluid p-5">
  <div class="form-wrapper container bg-light p-5 rounded">
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <h3 class="text-center fw-bold text-uppercase mb-4">Register</h3>
      <div class="mb-3">
        <input
          type="text"
          class="form-control input-focus-border-color"
          id="name-field"
          placeholder="Name"
          formControlName="name"
        />
        @if(registerForm.controls['name'].invalid &&
        registerForm.controls['name'].touched){
        <p class="text-danger">name is not valid</p>
        }@else if (registerForm.controls['name'].valid &&
        registerForm.controls['name'].touched) {
        <p class="text-success">name is valid</p>
        }
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email-field"
          placeholder="Email"
          formControlName="email"
        />
        @if(registerForm.controls['email'].invalid &&
        registerForm.controls['email'].touched){
        <p class="text-danger">Email is not valid</p>
        }@else if (registerForm.controls['email'].valid &&
        registerForm.controls['email'].touched) {
        <p class="text-success">Email is valid</p>
        }
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control input-focus-border-color"
          id="username-field"
          placeholder="username"
          formControlName="username"
        />
        @if(registerForm.controls['username'].invalid &&
        registerForm.controls['username'].touched){
        <p class="text-danger">username is not valid</p>
        }@else if (registerForm.controls['username'].valid &&
        registerForm.controls['username'].touched) {
        <p class="text-success">username is valid</p>
        }
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password-field"
          placeholder="Password"
          formControlName="password"
        />
        @if(registerForm.controls['password'].invalid &&
        registerForm.controls['password'].touched){
        <p class="text-danger">password is not valid</p>
        }@else if (registerForm.controls['password'].valid &&
        registerForm.controls['password'].touched) {
        <p class="text-success">password is valid</p>
        }
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirm-password-field"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        @if(registerForm.controls['confirmPassword'].invalid &&
        registerForm.controls['confirmPassword'].touched){
        <p class="text-danger">password is not valid</p>
        } 
        @if(registerForm.errors?.['passwordMismatch'] && registerForm.controls['confirmPassword'].touched) {
          <p class="text-danger">Passwords do not match</p>
        }
        @if (registerForm.controls['confirmPassword'].valid &&
        registerForm.controls['confirmPassword'].touched) {
        <p class="text-success">password is valid</p>
        }
      </div>
      <button type="submit" class="btn btn-outline-success fw-bold w-100 mt-4">
        Signup
      </button>

      <p class="text-center mt-4">
        Already registered?
        <a class="text-success" routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</section>
